atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
coverage==4.5.2
defusedxml==0.5.0
enum34==1.1.6
funcsigs==1.0.2
future==0.17.1
geopackage-python==2.0.0.4
mapbox-vector-tile==1.2.0
mapnik==0.1
more-itertools==5.0.0
pathlib2==2.3.3
Pillow==5.4.1
pluggy==0.8.1
protobuf==3.6.1
py==1.7.0
pyclipper==1.1.0.post1
pytest==4.1.1
pytest-cov==2.6.1
scandir==1.9.0
Shapely==1.6.4.post2
six==1.12.0
termcolor==1.1.0
typing==3.6.6
